
/*================Fonte do site=====================*/

@font-face {
				font-family: 'Fonte h1';
				src: url(Font/GOT.ttf);
			}

/*=================Fim da fonte=====================*/


*{
	padding:0;
	margin: 0;

}

body{
	
	background-image: url("../img/BackGround.jpg");
	background-repeat: no-repeat;
	background-size: cover;/*===============Para se estender a pagina toda==================*/
	
	
}


/*============================Aqui começa o menu*=================================*/


h1{
	font-family:'Fonte h1';/*======== Chamei para fzr o texto que está no menu =============*/
}


#menu1{
	text-align: center;
	width: 100%;/*================ Largura do menu ===========*/
	height: 100px;/*============== Altura do menu  ============*/
}

#menu2{
	background: black; /*===== Cor de Fundo =========*/
	height: 100px;
	width: 100%;
	opacity: 0.6;
	filter: alpha (opacity = 60);/*===== para n precisar colocar nas 3 divs =====*/
	line-height: 100px;/*===== Altura venticalmente====*/

}

#menu2 h1{/*========== Se referir ao texto do menu ========*/
	float: left;
	font-weight: 400;
	color: white;
	cursor: pointer;/*=== Inutil ====*/
	margin-left: 10px;/*==== Margin da ponta esquerda ===*/

}

#menu2 ul{/*======== Se referir ao conteudo do menu ul ======*/
	float: right;
	position: relative;
	margin-right: 100px;
	line-height: 55px;

}

#menu2 ul li{
	list-style-type: none;
	display: inline-block;/*== = horizontalmente  ====*/
}

#menu2 ul li a{
	padding: 22px;/*=== distancia entre cada um ===*/
	text-decoration: none;
	color: white;
	display:block;/*=== layout em bloco===*/

}

#menu2 ul li:hover{
	background: orange;
	transition: all 0.40s;
}

#menu2 ul li ul li a:hover{
	background: orange;
	transition: all 0.30s;/*==== Animção do hover, tempo de dele transição======*/
}

#menu2 ul li:hover ul {
	display: block;/*===== faz o bloco do sub menu ficar bloquedo com a animação do houver====*/
}

#menu2 ul ul {/*============ controlar animação do sub menu =====*/

	display: none;/*==== Animção do sub permanente ===*/
	width: 120px;
	position: absolute;
}

#menu2 ul li ul{/*======== Fundo do sub menu ========*/
	background:black;
}

#menu2 ul li ul:hover{
	background: black;/* ======= Fundo do sub quando hover ====*/
	transition: all 0.40s;/*=======Animação do hover=========*/

}

/*============================== Aqui termina o menu =========================*/


/*==========================  Aqui começa o cadastro ========================*/


/*====== Estilizando o fundo do cadastro ========*/

.Cadastro{
	font-family:  Arial , Helvetica , sans-serif;
	color: #ff8000;
	text-align: center; /*====== Alinhamento do texto dentro da caixa de texto =========*/
	border-radius: 4px;/*====== Define arredondamento das bordas =========*/
	background-color: black;
	opacity: .6;
    margin: 0 auto;
    margin-top:70px;
	width:600px;
    height:1180px;

}

/*======= Fim da estilização do fundo do cadastro ========*/

/*====Estilizando as caixinhas====*/

.Cadastro input[type="password"]/*== Referindo a itens input do tipo senha ==*/ , input[type="text"]/*== Referindo a inputs do tipo texto*/,
select[name="estados-brasil"]/*== Me referindo ao select  com estado-brasil ==*/,
select[name="cidades-brasil"],input[type="email"]{
   
   	width:200px;/*==== Largura das caixinhas ======*/
   	height:45px;/*==== Altura das caixinhas =======*/
    padding: 1px;
    border: #000 2px solid;
    font-size: 18px;
    margin-bottom: 18px;/*==== Distancia de um para outro iten ===*/
    padding-left: 40px;
    border-radius: 4px;
    border: none;/*=== Retirei a borda reta(natural das caixinhas)*/

}

.Cadastro input[type="radio"] /*== Me referi ao input do tipo radio ==*/{

	width:200px;/*==== Largura das caixinhas ======*/
   	height:25px;/*==== Altura das caixinhas =======*/
    padding: 1px;
    border: #000 2px solid;
    font-size: 20px;
    margin-bottom: 20px;/*==== Distancia de um para outro iten ===*/
    background-color:#fff;
    padding-left: 40px;
    border-radius: 4px;
    border: none;/*=== Retirei a borda reta(natural das caixinhas)*/


}

.data{
	padding: 1px;
	width:300px;/*==== Largura das caixinhas ======*/
	height:45px;/*==== Altura das caixinhas =======*/
	margin-bottom:20px;/*==== Distancia de um para outro iten ===*/
	border: #000 2px solid;
	font-size: 18px;
	background-color:#fff;
	border-radius: 4px;
	padding-left: 40px;
	border:none;/*=== Retirei a borda reta(natural das caixinhas)*/


}

/*========= Fim da estilização das caixinhas ========*/


/*============ Estilizacão do botão ===============*/


.botao{
 padding:15px 30px/*Esse 30px é largura*/;
 color:white;
 font-size: 18px; 	
 border-radius: 6px;
 background-color: #FF8000;
 border:none;
 border-bottom:5px solid #DF7401;
 cursor:pointer;/* muda o efeito do mouse em cima */
}


/*======== Fim da estilização dos botões ==========*/


/*===================== Aqui termina o Cadastro ====================*/

/*=================== Aqui começa o Rodapé ============*/

.rodape {
	background: black;
    padding: 20px;
	opacity: .8;}

.rodape p { 
	text-align: center;
	color: white;
	font-family: Arial;
}

/*===================== Aqui acaba o rodapé =============*/