@font-face {
				font-family: 'Fonte h1';
				src: url(Font/GOT.ttf);
			}

*{
	padding:0;
	margin: 0;

}

body{
	
	background-image: url("../img/BackGround.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	
	
}



/*========Aqui começa o menu*=======*/


h1{
	font-family:'Fonte h1';
}

#menu1{
	text-align: center;
	width: 100%;
	height: 100px;
}
#menu2{
	background: black;
	height: 100px;
	width: 100%;
	opacity: 0.6;
	/*filter: alpha (opacity = 60);*/
	line-height: 100px;

}
#menu2 h1{
	float: left;
	font-weight: 400;
	color: white;
	cursor: pointer;
	margin-left: 10px;

}

#menu2 ul{
	float: right;
	position: relative;
	margin-right: 100px;
	line-height: 55px;

}

#menu2 ul li{
	list-style-type: none;
	display: inline-block;
}

#menu2 ul li a{
	padding: 22px;
	text-decoration: none;
	color: white;
	display: block;

}

#menu2 ul li:hover{
	background: orange;
	transition: all 0.40s;
}

#menu2 ul li ul li a:hover{
	background: orange;
	transition: all 0.40s;
}

#menu2 ul li:hover ul {
	display: block;
}

#menu2 ul ul {
	display: none;
	width: 120px;
	position: absolute;
}

#menu2 ul li ul{
	background:black;
}

#menu2 ul li ul:hover{
	background: black;
	transition: all 0.40s;

}


/*=========Aqui termina o menu============*/


/*=======Aqui começa o conteudo =========*/

.conteudo{
	font-family:  Arial , Helvetica , sans-serif;
	color: #ff8000;
	text-align: left;
	border-radius: 20px;
	background-color: black;
	opacity: .7;
	font-size: 20px;
	margin: 0 auto;
	margin-top:70px;
	width:900px;
	height:800px;

}

#u{
	color:white;

}

.imagens {
    display: block;
    width: 500px;
    list-style: none;
}

p{
	font-size: 24px;
}
/*============Aqui acaba o conteudo=========*/


/*=======Aqui começa o Rodapé=============*/

.rodape {
	background: black;
    padding: 20px;
	opacity: .8;}

.rodape p { 
	text-align: center;
	color: white;
	font-family: Arial;
}

/*==========Aqui acaba o rodape===========*/